{% extends 'base.html' %}

{% block title %}Logowanie{% endblock %}

{% block body %}
    {% load crispy_forms_tags %}
    <div class="container mt-3">
        <h1>Logowanie</h1>
        <form method="POST"> {% csrf_token %}
                <div class="form-floating mb-3 mt-3">
                    {{ login_form.username }}
                    {{ login_form.username.label_tag }}
                </div>
                <div class="form-floating mb-3 mt-3">
                    {{ login_form.password }}
                    {{ login_form.password.label_tag }}
                    {% if login_form.validate_fields_v %}
                        <div class="valid-feedback">
                            Jest ok!
                        </div>
                        <div class="invalid-feedback">
                            Login lub hasło jest niepoprawne.
                        </div>
                    {% endif %}
                </div>
                
            <button class="btn btn-primary" type="submit">Zaloguj się</button>
        </form>
        <p class="text-center">Nie masz jeszcze konta? <a href="/register">Zajerestruj się</a>.</p>
    </div>
{% endblock %}